{%extends 'store/base.html'%}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static%}

{% block content %}
{{block.super}}
<body>
  <div class="text__header" style="margin-top: 100px;">
    <h1 class="text-center">{{ title }}</h1>  
  </div>
  
  <div class="list_table">
    {% if messages %}
        <ul class="messages">
               {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
    {% endif %}
    
    <form method='POST' action='' class="mt-2 mb-2 ml-4">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value='Save'/>
    </form>
    
  </div>

</body>

{% endblock %}