{%extends 'store/base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block content %}
{{block.super}}
<body>
  <div class="text__header" style="margin-top: 100px;">
    <h1 class="text-center">ITEM LIST</h1>  
  </div>
  <div class="list_table">
    {% if messages %}
        <ul class="messages">
               {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
    {% endif %}
    
    <form method='POST' action='' class="mt-2 mb-2 ml-4">
      {% csrf_token %}
      {{form}}
          <input type="submit" value='Search'/>
    </form>
    <table class="table table-dark table-striped">
      <thead>
        <tr style="background-color: #101820FF; color: #fff;" class="text-center">
          <th>COUNT</th>
          <th>CATEGORY</th>
          <th>ITEM NAME</th>
          <th>QUANTITY IN STORE</th>
          <th>Alert Amount</th>
          <th>Timestamp</th>
          <th>Last Updated</th>
          <th>DELETE</th>
        </tr>
      </thead>
      {% for instance in queryset %}
          <tr class="text-center">
            <td>{{forloop.counter}}</td>
            <td>{{instance.category}}</td>
            <td><a href="{% url 'update_items' instance.id %}">{{instance.product_name}}</a></td> 
            <td>
              {% if instance.quantity <= instance.alert_amount %}
                <div style="background-color: orange;">
                  <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a>
                </div>
              {% else %}
                <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a>
              {% endif %}
            </td>
            <td><a href="{% url 'reorder_level' instance.id %}">{{instance.alert_amount}}</a></td>
            <td>{{instance.timestamp}}</td>
            <td>{{instance.last_updated}}</td>
            <td><a href="{% url 'delete_items' instance.id %}"><i class="material-icons">delete</i></a></td>
          </tr>
      {% endfor %}
    </table>
  </div>

</body>

{% endblock %}

